/* Coolors Exported Palette - https://coolors.co/bcd2ee-9b7ede-832161-52050a-76e7cd */

/* CSS HEX */
--pale-sky: #bcd2eeff;
--soft-periwinkle: #9b7edeff;
--royal-plum: #832161ff;
--night-bordeaux: #52050aff;
--turquoise: #76e7cdff;

/* CSS HSL */
--pale-sky: hsla(214, 60%, 84%, 1);
--soft-periwinkle: hsla(258, 59%, 68%, 1);
--royal-plum: hsla(321, 60%, 32%, 1);
--night-bordeaux: hsla(356, 89%, 17%, 1);
--turquoise: hsla(166, 70%, 68%, 1);

/* SCSS HEX */
$pale-sky: #bcd2eeff;
$soft-periwinkle: #9b7edeff;
$royal-plum: #832161ff;
$night-bordeaux: #52050aff;
$turquoise: #76e7cdff;

/* SCSS HSL */
$pale-sky: hsla(214, 60%, 84%, 1);
$soft-periwinkle: hsla(258, 59%, 68%, 1);
$royal-plum: hsla(321, 60%, 32%, 1);
$night-bordeaux: hsla(356, 89%, 17%, 1);
$turquoise: hsla(166, 70%, 68%, 1);

/* SCSS RGB */
$pale-sky: rgba(188, 210, 238, 1);
$soft-periwinkle: rgba(155, 126, 222, 1);
$royal-plum: rgba(131, 33, 97, 1);
$night-bordeaux: rgba(82, 5, 10, 1);
$turquoise: rgba(118, 231, 205, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-right: linear-gradient(90deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-bottom: linear-gradient(180deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-left: linear-gradient(270deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-top-right: linear-gradient(45deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-bottom-right: linear-gradient(135deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-top-left: linear-gradient(225deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-bottom-left: linear-gradient(315deg, #bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);
$gradient-radial: radial-gradient(#bcd2eeff, #9b7edeff, #832161ff, #52050aff, #76e7cdff);